<!-- games.html -->
{% extends "template.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <title>CS235 Game Library - favourites game library</title>
{% endblock %}

{% block main %}

    <section>
        <div class="section_title">
            <h1>Favourites Game</h1>
        </div>


        {% if games|length == 0 %}
            <div class="current_page"><h3>No favourites game yet</h3></div>
        {% endif %}


        <div class="order_selection">
            <h3>Order games by:</h3>
            <!-- for each option of ordering of the games -->
            {% for option in order_options %}
            
            <div class="orders">
                <a href="/favourites?page={{ page_info.current_page }}&order={{ option }}">{{ option }}</a>
            </div>
            {% endfor %}

        </div>
        <div class="current_page">
            <h3>page - {{ page_info.current_page }}: Displaying {{ page_info.current_display[0] }} - {{ page_info.current_display[1] }} of {{ page_info.number_of_games }}</h3>
        </div>
        

        <div class="games_holder">

            <!-- for each game in the given game list -->
            {% for game in games %}
                <div class="game">
                    <a href="/gameDescription/{{ game.game_id }}">
                        <div class="game_img">
                            <img src="{{ game.image_url }}" alt="">
                        </div>
                        <div class="game_data">
                            <div class="game_title">{{ game.title }}</div>

                            {% if game.price == 0 %}
                            <div class="game_price">Free to Play</div>
                            {% else %}
                            <div class="game_price">NZ$ {{ game.price }}</div>
                            {% endif %}

                        </div>
                    </a>
                    <a class="favourite_b" id="{{game.game_id}}" onclick=favourite(id)>Remove from favourite</a>
                </div>
            {% endfor %}


        </div>
    </section>

    <section class="page_nav">
        <div>
            <ul>
                {% for page in pages %}
                <li>
                    <a href="/favourites?page={{ page }}&order={{ page_info.current_order }}">{{ page }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <script>
            function favourite(id) {
                let target = document.getElementById(id).innerHTML;
                let c = (target=="Add to favourite");
                window.open("/favourites/change_favourite/"+id,"_parent")
                if(c == true){
                    document.getElementById(id).innerHTML = "Remove from favourite";
                }
                else{
                    document.getElementById(id).innerHTML = "Add to favourite";
                }
            }
        </script>
    </section>

{% endblock %}