.game_info {
    /* height: 400px; */
    background-color: rgb(8, 15, 37);
    display: flex;
    gap: 10px;
}

.info_left {
    width: 75%;
    margin: 0 auto;
}

.game_img img {
    width: 100%;
    height: auto;
}

.right {
    flex: 1;
    margin-right: 10px;
}
.right a:Link, .right a:visited{
    color: #66C0F4
}

.right a:hover, .right a:focus, .right a:active {
    color: #FFFFFF
}


.game_awards_content, .game_description_content, .game_user_review_zero_notice, .game_user_review_name, .game_user_review_num {
    color: #B1B1B1
}

.review {
    width: 100%;
    height: 150px;
    background-color: rgb(199, 211, 255);
}



div.postedReview {
    background-color: rgb(8, 15, 37);
    border-radius: 5px;
    width: 100%;
    padding-block: 20px;
    margin-block: 20px;
}
div.postedReview .review_header{
    margin-bottom: 10px;
}
div.postedReview .review_header *{
    display: inline-block;    
}
div.postedReview .review_header h5.review_title {
    margin: 10px 30px;
   
}
div.postedReview p {
    margin: 0px 100px;
}

.comment_b {
    font-size: 14px;
    border: 1px;
    float: right;
    background-color: rgb(14, 30, 77);
    color: #B1B1B1;
    border: #B1B1B1  2px solid;
    cursor: pointer;
}

.comment_b:hover {
    background-color: #B1B1B1;
    color: rgb(14, 30, 77);
  }

.checked {
    color: orange;
}

.fa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    float: center;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.favourite_b {
    font-size: 14px;
    border: 1px;
    float: right;
    background-color: rgb(14, 30, 77);
    color: #B1B1B1;
    border: #B1B1B1  2px solid;
    margin-right: 8pt;
    margin-bottom: 4px;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .game_info {
        flex-direction: column;
        text-align: center;
    }
    .info_left {
        width: 100%;
        margin: 0 auto;
    }
    .game_img img {
        width: 100%;
        height: auto;
    }
    .right {
        text-align: left;
        margin: 10px;
    }
}
