

.profile_review_container {
    background-color: rgb(16, 36, 94);
    box-shadow: 0 0 20px rgba(206, 206, 206, 0.753);
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.profile_review_column_one {
    width: 25%;
    margin: 0 auto;
}

.profile_review_game_image img {
    width: 100%;
    height: auto;
}

.profile_review_column_two {
    flex: 1;
    margin-right: 10px;
}

.profile_review_text, .profile_review_rating {
    color: white;
    margin: 10px;
}

#profile_favourite_all_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.game {
    width: 360px;
    height: 200px;
    display: table;
    margin: 10px 15px;
    /* border-radius: 20px; */
    background-color: rgb(16, 36, 94);
    box-shadow: 0 0 20px rgba(206, 206, 206, 0.753);
}

div.game_img {
    height: 168px;
}

div.game_img img {
    width: 360px;
}

div.game_data {
    height: 34px;
    color: black;
}

div.game_title {
    width: 240px;
    display:  inline-block;
    /* margin-left: 25px; */
    margin-block: 4px;
    white-space: nowrap;
    font-size: 18px;
    font-family: "Myriad Pro","Open Sans",Arial,Helvetica,sans-serif;
    color: white;

    overflow: hidden;
    text-overflow: ellipsis;


    margin-left: 10px;
}

div.game_price {
    padding: 1px 4px;
    display: inline-block;
    font-family: "Myriad Pro","Open Sans",Arial,Helvetica,sans-serif;
    margin-top: 6px;
    border-radius: 5px;
    background-color: rgb(8, 15, 37);
    color: white;
    vertical-align: top;
    margin-right: 10px;
}

.checked {
    color: orange;
}

.profile_favourite_remove_link {
    font-size: 14px;
    border: 1px;
    float: right;
    background-color: rgb(14, 30, 77);
    color: #B1B1B1;
    border: #B1B1B1  2px solid;
    margin-right: 8pt;
    margin-bottom: 4px;
}