<!-- gameDescription.html -->
{% extends "template.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/authentication/credentials.css') }}">
    <title>CS235 Game Library - {{ title }}</title>
{% endblock %}


{% block main %}

    <section>
        <div class="form_wrapper">
            <div class="section_title">
                <h1>{{ title }}</h1>
            </div>

            <form action="{{ handler_url }}" method="post">
                {{ form.csrf_token }}
                <table class="form_table">
                    <tbody class="form_contents">
                        <tr class="form_table_row">
                            <td>
                                {{ form.user_name.label }} 
                            </td>
                            <td>
                                {{ form.user_name }}                            
                            </td>
                        </tr>
                        {% if form.user_name.errors or user_name_error_message %}

                            {% if user_name_error_message %}
                                <tr class="form_table_row"><td colspan="2">
                                    {{ user_name_error_message }}
                                </td></tr>
                            {% endif %}
                            
                            {% for error in form.user_name.errors %}
                                <tr class="form_table_row"><td colspan="2">
                                    {{ error }}
                                </td></tr>
                            {% endfor %}
                        {% endif %}


                        <tr class="form_table_row">
                            <td>
                                {{ form.password.label }}
                            </td>
                            <td>
                                {{ form.password }}
                            </td>
                        </tr>
                        {% if form.password.errors or password_error_message %}

                            {% if password_error_message %}
                                <tr class="form_table_row"><td colspan="2">
                                    {{ password_error_message }}
                                </td></tr>
                            {% endif %}

                            {% for error in form.password.errors %}
                                <tr class="form_table_row"><td colspan="2">
                                    {{ error }}
                                </td></tr>
                            {% endfor %}
                        {% endif %}

                    </tbody>
                </table>
                <div class="form_submit">
                    {{ form.submit }}
                </div>
            </form>
        </div>
    </section>

{% endblock %}