div.form_wrapper {
    max-width: 600px;
    margin: 25dvh auto;
    box-shadow: 0 0 40px rgba(206, 206, 206, 0.753);
    padding: 0px 10px 10px 10px;
    background-color: rgb(16,36,94);
    border-radius: 15px;
}


div.section_title {
    margin: 7px 0px;
    padding: 7px 0px;
    font-size: 32px;
}


form {
    width: 100%;
    margin: 0px;
    text-align: center;
}

table.form_table {
    width: 85%;
    padding: 0px;
    border-width: 0px;
    margin: 0px auto;
}

tr.form_table_row {
    height: 40px;
    width: 100%;
}
tr.form_table_row td {
    min-width: 180px;
}
label {
    font-size: 20px;
    font-family: "Myriad Pro","Open Sans",Arial,Helvetica,sans-serif;
}
.text-input {
    width: 100%;
    height: 30px;
    border-width: 0px;
    border-radius: 4px;
}

div.form_submit {
    text-align: center;
}
input.form_submit_button {
    width: 85%;
    height: 40px;
    margin: 15px auto;
    display: inline;
    color: white;
    background-color: rgb(8, 15, 37);
    border: none;
    border-radius: 5px;
    box-shadow: none;
    font-size: 25px;
    font-family: "Myriad Pro","Open Sans",Arial,Helvetica,sans-serif;
    cursor: pointer;
}

